.title {
  margin-bottom: 25px;
  text-align: left;
  max-height: 60px;
}

.title.white {
  color: white;
  border-bottom: 2px solid white;
}

.title.black {
  color: black;
  border-bottom: 2px solid black;
}